.Levels{
    background-color: cadetblue;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    align-items: center;
    justify-content: center;
}

.TresureContainer{
    height: 100vh;
    margin: 0;
    padding-top: 15%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002b54;

}

.Levels p{
    max-height: max-content;
    padding: 30%;
    padding-left: 30%;
    color: aliceblue ;
}


