.home {
 background-image: linear-gradient(
    to bottom, /* Gradient direction */
    rgba(0, 0, 0, 0.0), /* Start color (adjust as needed) */
    transparent, /* Transparent color in the middle */
    rgb(35, 68, 68) /* End color (adjust as needed) */
  ), url(../../../assets/img/LogicaSh\ \(1\).png);
  background-size: cover;
  width: 100vw;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  display: grid;
  place-items: center;
  font-family: SpaceBoards;
  position: relative;
}
.land {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.homeSecond {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 17%;
}
.heading {
  margin-top: 9%;
  font-size: clamp(0.5rem, 0.2rem + 6vw, 4rem);

  text-shadow: 0 0 1px #fff, 0 0 8px #fff, 0 0 16px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  animation: flicker 1s infinite alternate;
}
.subHeading {
  font-size: clamp(0.2rem, 0.2rem + 3vw, 1.5rem);
}
.htitle {
  color: white;
  text-align: center;
  z-index: 1000;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .htitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0;
  }
}
