
z:root{
    --primary-color: #0DFF92;
    --dark-color:#222222;
    --light-color: #131313;
  }
  .timer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .timer p {
    margin: 0;
  }
  
  /* Responsive styles for screens smaller than 768px (adjust as needed) */
  @media (max-width: 768px) {
    .timer {
      font-size: 16px;
      padding: 8px;
    }
  }
  
  
  .qcontainer{
    position: fixed;
    width: 80%;
    /* height: 80%; */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    z-index: 1000;
    display: flex;
    justify-content: left;
    padding: 10px 40px 40px;
    text-align: left;
    flex-direction: column;
    /* overflow: scroll; */
    box-shadow: 0px 0px 5px rgb(89, 89, 89);
    border-radius: 10px;
    animation: qcontainerani 0.4s 1;
}

@keyframes qcontainerani {
    from {
        height: 0px;
        width: 0px;
        opacity: 0;
        overflow: hidden;
    } to {
        width: clamp(25%, 450px , 80%);
        height: clamp(100px, max-content , 400px);
        opacity: 1;
        overflow: hidden;
    }
}
   
    .qcontainer .title{
        font-size: 3vw;
        color: #f0f0f0;
        text-align: center;
        border: 5px solid var(--primary-color);
        /* padding: .3em .2em; */
        border-radius: 4px;
    }
    
    .text-light {
        color: var(--light-color)
    }
    
    .qcontainer ul{
      list-style: none;
      margin: 0;
      padding: 0;
        overflow: auto;
    }
    
    .qcontainer .questions{
        padding: 3em;
    }
    
    /* 
    .qcontainer .questions .qid{
      padding: .2em .7em;
      color: #222222;
      background-color: #0DFF92;
      border-radius: 50px;
    } */
    
    .qcontainer .grid{
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    .qcontainer .btn{
        padding: .2em 1.7em;
        border: none;
        border-radius: .1em;
        font-size: 1.2em;
    }
    
    .qcontainer .btn:hover{
        cursor: pointer;
        background-color: #f0f0f0;
        color: #202020;
    }
    
    .next{
        background-color: var(--primary-color);
        justify-self: flex-end;
    }
    
    .prev{
        background-color: #faff5a;
        justify-self: flex-start;
    }
    
    .qcontainer ul li{
      color: #2e2e2e;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
        border-bottom: 1px solid #333;
    }
    
    /* To get selected option we are using this checked class */
    .qcontainer .checked {
      border: 5px solid var(--primary-color) !important;
    }
    
    .qcontainer  .checked::before{
      background: var(--primary-color)
    }


    .qcontainer ol li{
        font-size: 1.4em;
        color: #0c0c0c;
    }
    
    .start{
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }
    
    .start .btn{
        padding: .2em 1.7em;
        border: none;
        border-radius: .1em;
        font-size: 1.2em;
        color: #202020;
        text-decoration: none;
        background-color: #faff5a;
    }
    
    #form{
        display: flex;
        justify-content: center;
        margin-top: 4em;
    }
    
    #form .userid{
        padding: .7em 2em;
        width: 50%;
        border: none;
        border-radius: 3px;
        font-size: 1em;
    }


/*result */


.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid #060606;
    padding: 3em 4em;
    gap: 1em;
}

.qcontainer .flex{
    display: flex;
    justify-content: space-between;
    
}

.qcontainer .flex span {
    font-size: 1.4em;
    color: #000000;
}

.qcontainer .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
}

.table-header {
    color: #050505;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body {
    font-size: 1.1em;
    text-align: center;
    /* color: #cecece; */
    background: #d8d8d8;
    padding: 18px 0;
}

.table-header > tr > td{
    border: 1px solid #faff5a;   
}

.ScoreContainer{
    margin-top: 6rem;
}